<div class="navbar">
		<ul class="navbar">
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Registrar Preparatoria</a></li>
				<li><a href="#">Bandeja de Validación</a></li>
		</ul>
	</div>

    <form>
			<h2>Registrar Preparatoria</h2>
			<h3>Por favor, llene el formulario para el registro de la preparatoria.</h3>
            <p>Logo:</p>
			<p class="center-content"><input type="file" class="button-file"></p>
            <p>Nombre de la escuela:</p>
			<input type="text" class="field">
			<p>Clave:</p>
			<input type="text" class="field">
			<p>Responsable:</p>
			<input type="text" class="field">
			<p>Nombre de la escuela:</p>
			<input type="text" class="field">

			<p class="center-content"><input type="submit" class="button" value="Registrar Escuela"></p>
		</form>