 <div class="navbar">
        <ul class="navbar">
            <li><a href="InicioMateriaPlanEstudio.html">Inicio</a></li>
            <li><a href="MateriasACM.html">Materias</a></li>
            <li><a href="PlanEstudioACM.html">Planes de Estudio</a></li>
        </ul>
    </div>

    <div class="menu-materias-acm">
            <h2>Planes de Estudio</h2>
            <h3>Selecciona una opción para continuar:</h3>
            <p class="center-btnmacm"><a href="AgregarPlanEstudio.html"><input class="button-btnmacm"
                        type="button" value="Agregar"></a></p>
            <p class="center-btnmacm"><a href="InicioMateriaPlanEstudio.html"></a><input class="button-btnmacm"
                    type="button" value="Consultar"></a></p>
            <p class="center-btnmacm"><a href="InicioMateriaPlanEstudio.html"></a><input class="button-btnmacm"
                    type="button" value="Modificar"></a></p>
        </div>