<div class="navbar">
        <ul class="navbar">
            <li><a href="InicioMateriaPlanEstudio.html">Inicio</a></li>
            <li><a href="MateriasACM.html">Materias</a></li>
            <li><a href="PlanEstudioACM.html">Planes de Estudio</a></li>
        </ul>
    </div>

     <form>
			<h2>Agregar un Plan de Estudio</h2>
			<h3>Por favor, llene el formulario para agregar un nuevo plan de estudio.</h3>
			<p>Nombre del plan:</p>
			<input type="text" class="field">
			<p>Especialidad:</p>
			<input type="text" class="field">
			<p>Semestre:</p>
			<p class="center-content"><select name="semestre" class="field">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select></p>
			<p class="center-content"><input type="submit" class="button" value="Registrar Plan de Estudio"></p>
		</form>