
<form action="">
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">CLAVE</th>
            <th scope="col">ESPECIALIDAD</th>
              
        </tr>
        {{#each materia}}
        <tr>
            <th class="row">{{nombre}}</th>
            <th>{{clave}}</th>
            <th>{{especialidad}}</th>  
        </tr>
        {{/each }}
    </thead>
</table>
</form>