<div class="navbar">
        <ul class="navbar">
            <li><a href="InicioMateriaPlanEstudio.html">Inicio</a></li>
            <li><a href="MateriasACM.html">Materias</a></li>
            <li><a href="PlanEstudioACM.html">Planes de Estudio</a></li>
        </ul>
    </div>

<form action="/materia/edit:{{materia._id}}?_method=PUT" method="POST">
<h2>Agregar una Materia</h2>
			<h3>Por favor, llene el formulario para agregar una nueva materia.</h3>
			<p>Nombre de la materia:</p>
			<input type="text" class="field" name= "nombre">
			<p>Clave de la materia:</p>
            <input type="text" class="field">
            <p>Especialidad a la que corresponde:</p>
			<input type="text" class="field">
			<p>Semestre:</p>
			<p class="center-content"><select name="semestre" class="field">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select></p>
            <p>Seriación con una materia: <input type="checkbox" name="seriacion" id="seriacion"></p>
            <p>Materia:</p>
			<p class="center-content"><select name="seriacion-mat" class="field">
        {{#each materia}} 
                <option value="-">{{nombre}}</option>
        {{/each}}
              </select></p>
			<p class="center-content"><input type="submit" class="button" value="Modificar Materia"></p>

</form>

    